.banner_animation_container {
    margin-top: 99px;
    width: 600px;
    height: 600px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
  
  .banner_animation_container .card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
  
  .banner_animation_container .card .percent {
    position: relative;
    width: 575px;
    height: 575px;
    overflow: visible;
  }
  
  .banner_animation_container .card .percent svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  
  .banner_animation_container .card .percent svg circle {
    position: relative;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 67;
    stroke: #00C4F0;
    stroke-dasharray: 1600;
    stroke-dashoffset: 1590;
    stroke-linecap: round;
    transform: rotateZ(90deg);
    transform-origin: center;
    animation: animateCircle 4s ease-in-out forwards;
  }
  
  @keyframes animateCircle {
    0% {
      stroke-dasharray: 1600;
      opacity: 0;
    }
    100% {
      stroke-dasharray: 3200;
      opacity: 1;
    }
  }
  
  .dot {
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    inset: 1px;
    transition: all 1s ease-out;
    visibility: hidden;
    opacity: 0;
    animation: animateDot 4s ease-in-out forwards;
    
  }
  
  @keyframes animateDot {
    0% {
      transform: rotate(0deg); 
    }
    20% {
      visibility: visible;
      opacity: 1;
    }
    85% {
      box-shadow: 0 0 0px #00C4F0, 0 0 0px #00C4F0;
    }
    100% {
      transform: rotate(360deg);
      visibility: visible;
      opacity: 1;
      box-shadow: 0 0 100px #00c4f09a;
    }
  }
  
  .dot::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #00fff9;
    border-radius: 50%;
    box-shadow: 0 0 10px #00fff9, 
    0 0 20px #00fff9, 
    0 0 30px #00fff9, 
    0 0 40px #00fff9, 
    0 0 50px #00fff9, 
    0 0 60px #00fff9, 
    0 0 70px #00fff9, 
    0 0 80px #00fff9, 
    0 0 90px #00fff9; 
  }
  
.bubble {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    font-family: Next_Art;
    font-size: 36px;
    color: #00C4F0;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}


.one {
    top: 10px;
    right: 68px;
    animation: bubble_1 0.5s ease-out 4.4s 1 normal forwards;
}
@keyframes bubble_1 {
    from {
        top: -200px;
        right: -300px;

    }
    to {
        top: 10px;
        right: 68px;
        visibility: visible;
        opacity: 1;
    }
}

.one.special_1 {
  animation: bubble_1 0.5s ease-out 0s 1 normal forwards;
}

.two {
    top: 50px;
    left: 19px;
    animation: bubble_2 0.5s ease-out 4.7s 1 normal forwards;
}
@keyframes bubble_2 {
    from {
        top: -300px;
        left: -500px;

    }
    to {
        top: 50px;
        left: 19px;
        visibility: visible;
        opacity: 1;
    }
}

.two.special_2 {
  animation: bubble_2 0.5s ease-out 0.3s 1 normal forwards;
}

.three {
    top: 210px;
    left: -50px;
    font-size: 60px;
    animation: bubble_3 0.5s ease-out 4.9s 1 normal forwards;
}
@keyframes bubble_3 {
    from {
        top: 300px;
        left: -600px;

    }
    to {
        top: 210px;
        left: -50px;
        visibility: visible;
        opacity: 1;
    }
}

.three.special_3 {
  animation: bubble_3 0.5s ease-out 0.2s 1 normal forwards;
}

.four {
    bottom: 110px;
    left: -20px;
    font-size: 70px;
    animation: bubble_4 0.5s ease-out 5s 1 normal forwards;
}
@keyframes bubble_4 {
    from {
        bottom: -300px;
        left: -600px;

    }
    to {
        bottom: 110px;
        left: -20px;
        visibility: visible;
        opacity: 1;
    }
}

.four.special_4 {
  animation: bubble_4 0.5s ease-out 0.1s 1 normal forwards;
}


#Roman {
    position: absolute;
    bottom: -290px;
    width: 65%;
    z-index: 20;
    animation: animateRoman_1 2s ease-out 3.3s 1 normal forwards;
    transform: translateY(900px);
}

@keyframes animateRoman_1 {
    0% {
        transform: translateY(900px);
        
    }
   
    30% {
        transform: translateY(-300px);
        transform: scaleY(1.1);   
    }
    40% {
        transform: translateY(0);
        transform: scaleY(0.9);   
    }
    52% {
        transform: translateY(-50px);
        transform: scaleY(1.05);   
    }
    61% {
        transform: translateY(0px);
        transform: scaleY(0.95);  
    }
    69% {
        transform: translateY(-25px);
        transform: scaleY(1.02);
    }
    73% {
        transform: translateY(0px);
        transform: scaleY(1);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 1080px) {
  .banner_animation_container{
    transform: scale(0.8) translateY(-13%) translateX(2%);
    margin-top: 20px;
    width: 600px;
    height: 600px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
}

@media (max-width: 940px) {
  .banner_animation_container{
    transform: scale(0.6) translateY(-40%) translateX(-15%);    
  }
}

@media (max-width: 820px) {
  .banner_animation_container{
    transform: scale(0.5) translateY(-40%) translateX(-27%);    
  }
}

@media (max-width: 768px) {
  .banner_animation_container{
    transform: scale(0.6) translateY(-13%) translateX(2%);
    margin-top: 20px;
    width: 570px;
    height: 570px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
}